:root {
	--principal: rgb(46, 134, 193);
	--principal1: rgb(255, 255, 255);
	--destacado: RGB(231, 76, 60);
	--destacado1: RGB(241, 196, 15);
	--complementario: RGB(52, 152, 219);
	--complementario1: RGB(243, 156, 18);
	--neutro: RGB(51, 51, 51);
	--neutro1: RGB(204, 204, 204);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.contenedor {
	width: 90%;
	margin:  0 auto;
}
header {
	padding: 20px 0;
}
header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	margin-bottom: 0.75em;
}
header .contenedor nav a {
	color: var(--neutro);
	text-decoration: none;
	margin-right: 0.5em;
}
header .contenedor nav a:hover {
	color: var(--neutro1);
}

/* Cuerpo del sitio */


.contenedor-principal {
	display: flex;
	align-items: flex-start;
	height: 80%;
	gap: 0.71em;
}
.contenido {
	font-size: 14px;
	background-color: var(--principal);
	border-radius: 0.35em;
	padding: 0.71em;
	width: 80%;
}
.contenido p {
	margin-top: 0.35em;
	text-align: justify;
}
.barra-lateral {
	font-size: 14px;
	background-color: var(--complementario1);
	border-radius: 0.35em;
	padding: 0.71em;
	width: 20%;
}
.barra-lateral ol {
	padding: 0.71em;
}
.contenedor .pie-pagina footer {
	font-size: 14px;
	margin: 1.4em 0 0 0;
	border-radius: 0.35em;
	padding: 0.71em;
	background-color: var(--neutro);
	color: var(--principal1);
}